<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.0" targetFramework="net472" />
  <package id="EO.WebBrowser" version="20.1.31" targetFramework="net472" />
  <package id="EPPlus" version="5.1.1" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="2.3.1.953" targetFramework="net472" />
  <package id="XamlAnimatedGif" version="1.2.2" targetFramework="net472" />
</packages>